/*  REGOLE GENERALI */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* margini pagina */
header, main, footer {
  min-width: 950px;
}

/* clearfix */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* div contenitore dei float */
.row {
  width: 90%;
  margin: auto;
  /* debug */
}

/* elementi float */
.row > * {
  float: left;
  /* debug */
}


/* REGOLE HEADER */
header {
  width: 100%;
  padding-top: 10px;
  /* debug */
  background-color: #0c325a;
}

/* top header */
.top-header-container {
  width: 90%;
  height: 30px;
  margin: auto;
  /* debug */
  position: relative;
}

.top-header-container * {
  font-size: 9px;
  color: white;
  text-transform: uppercase;
  display: inline-block;
}

/* logo */
.top-header.logo  img {
  height: 25px;
}

/* nav bar */
.top-header.nav-bar {
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translateY(-50%);
}

nav li {
  display: inline-block;
  margin-right: 15px;
}

/* button */
.top-header.button {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.top-header.button > * {
  margin-left: 10px;
}

#login {
  background-color: #0c325a;
  border: 1px solid white;
  padding-left: 15px;
  padding-right: 15px;
}

button {
  border-radius: 5px;
  padding: 3px;
  background-color: #7cbb02;
  border: none;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

button:hover {
  text-decoration: underline;
}
/* fine top header */

/* jumbotron */
.jumbotron {
  width: 100%;
  height: 300px;
  /* debug */
  position: relative;
  background-image: url(../img/background-header.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.jumbo-title {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
}

h1 {
  width: 450px;
  color: white;
  margin-bottom: 20px;
}

 button.big {
   padding: 10px;
}
 /* fine jumbotron */

 /* FINE HEADER */


/* REGOLE MAIN */
section {
  margin-bottom: 20px;
}

#spiegone {
  border-bottom: solid 1px #808080;
  margin: 0 10px 10px;
}

/* prima section spiegone */

/* title bar */
.title-bar {
  height: 100px;
  width: 100%;
  /* debug */
  background-color: #d3d3d3;
  position: relative;
  margin-bottom: 20px;
}

.title-bar > div {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main p {
  color: #808080;
  margin: 10px 0;
}

/* row three-elements */

/* immagini */
.picture {
  height: 150px;
  margin-bottom: 20px;
}

#uno > .picture {
  background-image: url(../img/profile.svg);
  background-repeat: no-repeat;
  background-position: center;
}

#due > .picture {
  background-image: url(../img/computer.svg);
  background-repeat: no-repeat;
  background-position: center;
}

#tre > .picture {
  background-image: url(../img/doc.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* testo */
.three-elements {
  text-align: center;
}

.three-elements h3 {
  color: #7cbb02;
}

.element-three {
  width: 30%;
}

#due {
  margin: 0 5%;
}

/* seconda section */

.element-two {
  width: 40%;
  margin: 0 5%;
  text-align: left;
  /* debug */
}

/* elemento immagine */
#percorso .element-two:first-of-type {
  height: 300px;
  background-image: url(../img/mountain.svg);
}

#percorso a {
  color: #0c325a;
  text-decoration: underline;
}

/* REGOLE FOOTER */
footer {
  height: 120px;
  margin-top: 10px;
  padding: 0 5%;

  /* debug */
  position: relative;
  background-color: #d3d3d3;
}

.footer-title {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
}

/* footer float */
.row::after {
  content: "";
  display: table;
  clear: both;
}

.footer-float {
  width: 45%;
  position: absolute;
  right: 5%;
  bottom: 0;
  margin: 0 20px;
  text-align: center;
}

/* elementi float */
.footer-float > * {
  float: right;
  margin: 5px;
  /* debug */
}

#selezione {
  border: 0;
  border-bottom: solid 1px #808080;
  background-color: transparent;
}
